{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <h1 class="main-title">Lista de Tareas</h1>
        </header>
        <section class="form-section">
            <form class="task-form" action="{% url 'create_task' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Escribe el título" required>
                <input type="text" name="description" rows="3" placeholder="Escribe la descripción de la tarea"></input>
                <button class="add-btn">Agregar tarea</button>
            </form>
        </section>
        <section class="tasks-section">
            {% for task in tasks %}
                <div class="task-card">
                    <div class="task-info">
                        <h3 class="task-title">{{ task.title }}</h3>
                        <p class="task-desc">{{ task.description }}</p>
                    </div>
                    <form class="delete-form" action="{% url 'delete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Eliminar" class="delete-btn">
                    </form>
                </div>
            {% empty %}
                <p class="no-tasks">No hay tareas aún</p>
            {% endfor %}
        </section>
    </div>
</body>
</html>